.example-spacer {
    flex: 1 1 auto;
  }

  .example-sidenav {
    height: 100vh;
    padding: 2%;
  }
  .example-sidenav button{
    margin-top: 20px;
    flex-direction:row ;
    display: flex;
  }
  .example-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    /* opacity: 0.1; */
  }


  /* .cardBox {
    position: relative;
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.cardBox .card {
    position: relative;
    background: #fff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.cardBox .card .date {
  top: 0;
    position: relative;
    font-size: 1em;
    font-weight: 500;
}

.cardBox .card .cardName {
    color: #999;
}

.cardBox .card .iconBox {
    font-size: 2.5em;
    color: #03a9f4;
}

@media (max-width:768px) {
  .cardBox{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:480px){
  .cardBox{
    grid-template-columns: repeat(1,1fr);
  }
} */

.example-card {
  max-width: 400px;
}
.card-body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
mat-card-content{
  font-size: 15px;
    line-height: 18px;
    height: 39px;
    overflow: hidden;
}
mat-card-header mat-card-title{
  font-size: 1.2rem;
}
.show {
  overflow: visible;
  height: auto;
}
.example-card mat-card-content p{
  display: flex;
  margin-left: 12px;
}
.example-card mat-card-actions{
  bottom: 0;
}


@media (max-width:768px) {
  .card-body{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:480px){
  .card-body{
    grid-template-columns: repeat(1,1fr);
  }
}