<mat-toolbar color="accent">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MUW</span>
    <span class="example-spacer"></span>
    <button mat-button>Home</button>
  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <button mat-flat-button>
            Cinemas
          </button>
          <button mat-flat-button>
            Sports
          </button>
          <button mat-flat-button>
            WildLife
          </button>
          <button mat-flat-button>

          </button>
    </mat-drawer>

      <mat-card *ngFor="let data of dataSource.data">{{data.description}}</mat-card>
   
  </mat-drawer-container>


