.example-card {
    max-width: 400px;
  }
  .card-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  mat-card-content{
    font-size: 15px;
      line-height: 18px;
      height: 39px;
      overflow: hidden;
  }
  mat-card-header mat-card-title{
    font-size: 1.2rem;
  }
  .show {
    overflow: visible;
    height: auto;
  }
  .example-card mat-card-content p{
    display: flex;
    margin-left: 12px;
  }
  .example-card mat-card-actions{
    bottom: 0;
  }
  
  
  @media (max-width:768px) {
    .card-body{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (max-width:480px){
    .card-body{
      grid-template-columns: repeat(1,1fr);
    }
  }